
#first {
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 100px;*/
  left: 0;
}

#first .jumbotron {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(137, 172, 177);
  padding: 30px;
  height: 100px;
  color: white;
}

#first .jumbotron button {
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 5px;
  margin-top: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#first .jumbotron button a {
  color: black;
}

#first .jumbotron button:hover {
  color: rgb(137, 172, 177);
}

#first .jumbotron button:active {
  box-shadow: none;
  border: none;
}

@keyframes bounce {
  0% { bottom: 10px; }
  50% { bottom:  25px;}
  100% { bottom: 10px; }
}

.down-arrow  {
  width: 40px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;

}

/*#first .down-arrow {
  bottom: 10px;
}

.next-arrow {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#skills .next-arrow {
  bottom: 10px;
}

#projects .next-arrow {
  bottom: -150%;
}

#experience .next-arrow {
  bottom: -250%;
}*/






#skills {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

#projects{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 0;
}



#experience {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300%;
  left: 0;
}

.pages .heading {
  top: 25%;
  position: absolute;
  left: 25%;
  font-weight: bold;
  /*text-decoration: underline;*/
  font-size: 24px;
  font-family: "Bungee Outline", serif;
  border-bottom: 2px dotted black;
  margin-bottom: 3px;
}

#experience .school{
  display: inline-block;
  width: 30%;
  position: relative;
  /*top: 90%;*/
  left: 20%;
  margin-top: 280px;
  padding-right: 30px;
  vertical-align: middle;
}

#experience #dbc img {
  width: 80%;
}

#experience #saic img {
  height: 20%;
}

#experience .school p, #experience .school h2, #experience .school h5 {
  padding: 4px 0;
}

#about{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 400%;
  left: 0;
}

#about .headshot img {
  width: 100%;
  height: auto;
}

#about .headshot {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 20%;
  border: 2px solid black;
}

#about .about-text {
  width: 40%;
  position: absolute;
  top: 45%;
  left: 41%;
  border: 2px solid black;
  padding: 10px 5px;
  vertical-align: bottom;
}

#contact{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 500%;
  left: 0;
}

#final {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 600%;
  left: 0;
}

.contact-links {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  border: 2px solid black;
  padding: 20px;
}

.contact-links li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.contact-links li a {
  color: black;
}

.contact-links li a:hover {
  color: rgb(137, 172, 177);
}

.stack-logos {
  width: 60%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 10px 5px 10px 25px;

}

.stack-logos img {
  width: 90px;
  height: auto;
  vertical-align: middle;
  padding: 10px;
}

.final-jumbotron {
  font-size: 60px;
  position: absolute;
  top: 18%;
  left: 10%;
  width: 80%;
  background: rgb(137, 172, 177);
  padding: 20px;

}

.final-jumbotron h1{
  text-transform: capitalize;
}

.final-jumbotron small {
  font-weight: bold;
  float: right;
}

.projects-list {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border: 2px solid black;
  padding: 10px;
}

.projects-list h1 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.projects-list h2, .projects-list h6 {
  text-align: center;
}

#projects .project-item {
  padding: 15px;
  border-bottom: 2px solid black;
}

#projects .project-item h6, #projects .project-item p{
  padding: 2px 0;
}

#front-name:hover {
  color: white;
  border: 4px double #0a6577;
  padding: 2px;
  /*margin: 2px;*/
}
