
#first {
  width: 100%;
  height: 100%;
  position: absolute;
  /*top: 100px;*/
  left: 0;
}

#first .jumbotron {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(137, 172, 177);
  padding: 20px;
  height: 100px;
  color: white;
}

#first .jumbotron button {
  background-color: white;
  border: none;
  box-shadow: none;
  padding: 5px;
  margin-top: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#first .jumbotron button a {
  color: black;
}

#first .jumbotron button:hover {
  color: rgb(137, 172, 177);
}

#first .jumbotron button:active {
  box-shadow: none;
  border: none;
}

#skills {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

#projects{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200%;
  left: 0;
}

#experience {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300%;
  left: 0;
}

.pages .heading {
  top: 25%;
  position: absolute;
  left: 25%;
  font-weight: bold;
  /*text-decoration: underline;*/
  font-size: 24px;
  font-family: "Bungee Outline", serif;
  border-bottom: 2px dotted black;
  margin-bottom: 3px;
}

#experience .school{
  display: inline-block;
  width: 30%;
  position: relative;
  /*top: 90%;*/
  left: 20%;
  margin-top: 280px;
  padding-right: 30px;
  vertical-align: middle;
}

#experience #dbc img {
  width: 80%;
}

#experience #saic img {
  height: 20%;
}

#experience .school p, #experience .school h2, #experience .school h5 {
  padding: 4px 0;
}

#about{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 400%;
  left: 0;
}

#contact{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 500%;
  left: 0;
}
