* {
  margin: 0;
  padding: 0;
}

/*font-family: 'Bungee Outline', cursive;
font-family: 'Lato', sans-serif;*/

body{
  font-family: 'Lato', sans-serif;
  width: 100%;
}

a {
 text-decoration: none;
 color: white;
}

a:hover{
  color: #7BAABA;
}

.info-bar{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  toop: 0px;
  left: 0px;
  background-color: black;
  padding: 15px 0;
}

.header{
  font-family: 'Bungee Outline', cursive;
  display: inline-block;
  width: 50%;
  padding-left: 30px;
  color: white;
}

.header h1{
  display: inline-block;
}

.header small {
  display: inline-block;
  font-size: 1.5em;
  color: #7BAABA;
  padding-left: 10px;
}

.nav{
  display: inline-block;
  width: 40%;
  text-align: right;
}

.nav ul{
  list-style-type: none;
}

.nav ul li{
  display: inline-block;
  padding: 0 10px;
}
