body {
  background-color: #9FA2B2;
}

#first .jumbotron {
  background-color: #99B2DD;
}

#projects {
  top: 100%;
}

#skills {
  top: 200%;
}



#experience .school, #experience .job {
  margin-top: 250px;
  left: 38%;
  padding-right: 0;
  vertical-align: none;
  /*border: 2px solid black;*/
}

.side-arrows {
  width: 30px;
  height: auto;
  position: absolute;
  top: 60%;

}

.hidden{
  display: none;
}

#left-arrow-exp {
  left: 25%;
}

#right-arrow-exp{
  right: 25%;
}
