body {
  /*font-family: 'Lato', sans-serif;*/
  width: 100%;
}

/*font-family: 'Bungee Outline', cursive;
font-family: 'Lato', sans-serif;*/

.splash-header{
  background: transparent;
  width: 350px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash-header h1{
  font-family: 'Bungee Outline', serif;
  font-size: 3em;
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  text-align: center;
}


.splash-buttons{
  background: transparent;
  display: inline-block;
  position: absolute;
  font-family: 'Bungee Outline', serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80px);
  color: black;
  /*width: 300px;*/
}

.splash-buttons button{
  font-size: 1.5em;
  color: black;
  font-family: 'Bungee Outline', serif;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
}

.splash-buttons a{
  text-decoration: none;
  color: black;
}

.splash-buttons button a:hover{
  color: black;
}

.splash-buttons button:active{
  background-color: #95CCDE;
}
